<section id="escola-info">
  <div id="escola-name-fotos">
    <h1 id="escola-name">{{this.data.name}}</h1>
    <div id="escola-fotos">
      <img src="{{this.picture.path}}" alt="{{this.picture.name}}">
    </div>
  </div>
  <div id="escola-main-info">
    <div id="sobre-escola">
      <h2>Sobre a escola:</h2>
      <p>{{this.data.sobre}}</p>
      <h2>Localização:</h2>
      <div id="info-endereco">
        <p>Rua: <span id="logradouro-escola">{{this.data.logradouro}}</span></p>
        <p>Número: <span id="numero-escola">{{this.data.numero}}</span></p>
        <p>Bairro: <span id="bairro-escola">{{this.data.bairro}}</span></p>
        <p>Cidade: <span id="cidade-escola">{{this.data.cidade}}</span></p>
        <p>Estado: <span id="estado-escola">{{this.data.estado}}</span></p>
      </div>
      <div id="mapa-container">
        <div id="mapa">
        </div>
      </div>
    </div>
    <div id="escola-oferece">
      <h2>O que essa escola oferece?</h2>
      <div id="perguntas-escola">
        <div class="info-escola">
          <div class="info-imagem">
            <img src="/media/periodo.svg" alt="Período">
          </div>
          <div class="info-pergunta">
            <p class="label" data-name="periodo">Período:</p>
            <p class="resposta">{{this.data.periodo}}</p>
          </div>
        </div>

        <div class="info-escola">
          <div class="info-imagem">
            <img src="/media/alimentacao.svg" alt="Período">
          </div>
          <div class="info-pergunta">
            <p class="label" data-name="alimentacao">Alimentação:</p>
            <p class="resposta">{{this.data.alimentacao}}</p>
          </div>
        </div>

        <div class="info-escola">
          <div class="info-imagem">
            <img src="/media/linguas.svg" alt="Período">
          </div>
          <div class="info-pergunta">
            <p class="label" data-name="linguas">Línguas:</p>
            <p class="resposta">{{this.data.linguas}}</p>
          </div>
        </div>

        <div class="info-escola">
          <div class="info-imagem">
            <img src="/media/faixa.svg" alt="Período">
          </div>
          <div class="info-pergunta">
            <p class="label" data-name="faixa">Faixa de preço:</p>
            <p class="resposta">{{this.data.faixa}}</p>
          </div>
        </div>

        <div class="info-escola">
          <div class="info-imagem">
            <img src="/media/atividades.svg" alt="Período">
          </div>
          <div class="info-pergunta">
            <p class="label" data-name="atividades">Atividades extracurriculares:</p>
            <p class="resposta">{{this.data.atividades}}</p>
          </div>
        </div>

        <div class="info-escola">
          <div class="info-imagem">
            <img src="/media/material.svg" alt="Período">
          </div>
          <div class="info-pergunta">
            <p class="label" data-name="material">Material didático:</p>
            <p class="resposta">{{this.data.material}}</p>
          </div>
        </div>

        <div class="info-escola">
          <div class="info-imagem">
            <img src="/media/metodologia.svg" alt="Período">
          </div>
          <div class="info-pergunta">
            <p class="label" data-name="metodologia">Metodologia:</p>
            <p class="resposta">{{this.data.metodologia}}</p>
          </div>
        </div>

        <div class="info-escola">
          <div class="info-imagem">
            <img src="/media/pcd.svg" alt="Período">
          </div>
          <div class="info-pergunta">
            <p class="label" data-name="pcd">Suporta aluno PcD:</p>
            <p class="resposta">{{this.data.pcd}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if this.user.email}}
    <div id="form-avaliar">
      <h2>Comentar</h2>
      <form action="/escola/avaliacao/{{this.data._id}}" method="POST" class="form-aval">
        <textarea name="text" id="rating-text"></textarea>
        <input type="submit" value="Comentar">
      </form>
    </div>
  {{/if}}
  {{#if aval}}
  <hr>
    <div id="avaliacoes">
      <h2>O que falam sobre a escola:</h2>
      {{#each this.aval}}
        {{> avaliacao this}}
      {{/each}}
    </div>
  {{/if}}
</section>
